﻿@using OnlineLinkConverter.Data.ViewModels;
@using OnlineLinkConverter.Data.Enums;
@model List<GroupViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {        
        background: #ccc;
        padding: 10px;
    }
</style>

<h2>Группы ссылок</h2>

<div class="row mt-5 mb-2">
    @{        
        foreach (var item in Model)
        {
            <p></p>
            <div class="block">
                <h4>@item.Group.Name</h4>
                <p>@item.Group.Description</p>
                <p>Количество ссылок: @item.Links.Count()</p>
                <p>
                    <a class="btn btn-warning" asp-action="Details" asp-controller="Groups" asp-route-pageId="@item.Group.Id" asp-route-pageType="@PageEnums.PageType.Group">Войти в группу</a>
                    <a class="btn btn-warning" asp-action="PageEditor" asp-controller="Groups" asp-route-pageId="@item.Group.Id" asp-route-pageType="@PageEnums.PageType.Group">Редактировать</a>
                </p>
            </div>
            <p></p>
        }
    }
</div>

<p></p>

<div>
    <p><a class="btn btn-warning" asp-action="PageEditor" asp-controller="Groups" asp-route-pageId="0" asp-route-pageType="@PageEnums.PageType.Group">Добавить группу</a></p>
</div>