﻿@using OnlineLinkConverter.Models;
@using OnlineLinkConverter.Data.Interfaces;
@model IGroup

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание новой группы ссылок</h2>

<div class="row mt-5 mb-2">
    @{
        <p></p>
        <form>
            <p><b>Введите название группы:</b></p>
            <p><textarea rows="1" cols="45" name="textName"></textarea></p>
        </form>
        <p></p>
        <form>
            <p><b>Добавьте описание:</b></p>
            <p><textarea class="descr" rows="1" cols="45" name="textDescr"></textarea></p>
        </form>
    }
</div>

<p></p>

<div>
    <p><a class="btn btn-warning" href="">Добавить группу</a></p>
</div>