﻿@using OnlineLinkConverter.Data.ViewModels;
@using OnlineLinkConverter.Data.Enums;
@model List<GroupViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        background: #ccc;
        padding: 10px;
    }
</style>

<h2>Все ссылки</h2>

<div class="row mt-5 mb-2">
    @{
        foreach (var item in Model)
        {
            foreach (var subItem in item.Links)
            {
            <p></p>
            <div class="block">
                    <h4>@subItem.Link.Description</h4>
                    <p>Новая ссылка: <a href=@subItem.Link.ConvertedLink>@subItem.Link.ConvertedLink</a></p>
                    <p>Базовая ссылка: <a href=@subItem.Link.BaseLink>@subItem.Link.BaseLink</a></p>
                    @if (subItem.Link.IsActive)
                    {
                        <p>Состояние: Активна</p>
                    }
                    else
                    {
                        <p>Состояние: Не активна</p>
                    }
                    <p>
                        <a class="btn btn-warning" asp-action="PageEditor" asp-controller="Groups" asp-route-pageId="@subItem.Link.Id" asp-route-groupId="@subItem.Link.GroupId" asp-route-pageType="@PageEnums.PageType.Link">Редактировать</a>
                    </p>
                                
            </div>
            }
           
        }
    }
</div>
