﻿@using OnlineLinkConverter.Data.ViewModels
@using OnlineLinkConverter.Data.Enums
@model PageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        background: #ccc;
        padding: 10px;
    }
</style>

@if (Model is LinkViewModel)
{
    var currentModel = (LinkViewModel)Model;
    <p>LinkModel</p>
}
else if (Model is GroupViewModel)
{
    var currentModel = (GroupViewModel)Model;
    <h2>@currentModel.Group.Name</h2>
    <div class="row mt-5 mb-2">
        @{
            foreach (var item in currentModel.Links)
            {
                <p></p>
                <div class="block">
                    <h4>@item.Link.Description</h4>
                    <p>Новая ссылка: <a href=@item.Link.ConvertedLink>@item.Link.ConvertedLink</a></p>
                    <p>Базовая ссылка: <a href=@item.Link.BaseLink>@item.Link.BaseLink</a></p>
                    @if (item.Link.IsActive)
                    {
                        <p>Состояние: Активна</p>
                    }
                    else
                    {
                        <p>Состояние: Не активна</p>
                    }

                    <p>
                        <a class="btn btn-warning" asp-action="PageEditor" asp-controller="Groups" asp-route-pageId="@item.Link.Id" asp-route-groupId="@item.Link.GroupId" asp-route-pageType="@PageEnums.PageType.Link">Редактировать</a>
                    </p>
                </div>
                <p></p>
            }
        }
    </div>
    <div>
        <p><a class="btn btn-warning" asp-action="PageEditor" asp-controller="Groups" asp-route-pageId="0" asp-route-groupId="@currentModel.Group.Id" asp-route-pageType="@PageEnums.PageType.Link">Добавить ссылку</a></p>
    </div>
}


