﻿@using OnlineLinkConverter.Data.ViewModels;
@using OnlineLinkConverter.Data.Enums;
@model PageEditModel

@{
    ViewData["Title"] = "PageEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        resize : vertical;
    }
    .block {
        background: #ccc;
        padding: 10px;
    }
</style>

@if (Model is GroupEditModel)
{
    var currentModel = (GroupEditModel)Model;
    <form action="/Groups/AddGroup" method="post">
        <input type="hidden" value="@ViewBag.PageType" name="PageType" />
        @{
            if (Model.Id == 0)
            { <h2>Добавление новой группы</h2> }
            else
            {<h2>Редактирование группы</h2>}
        }
        <div class="row mt-5 mb-2">
            <div class="block">
                <input name="Id" type="hidden" value="@currentModel.Id" />
                <p>Название группы:</p>
                <p><textarea name="Name" value="@currentModel.Name" cols="76" rows="3" maxlength="500" wrap="hard">@currentModel.Name</textarea></p>
                <p>Описание:</p>
                <p><textarea name="Description" value="@currentModel.Description" cols="76" rows="3" maxlength="500" wrap="hard">@currentModel.Description</textarea></p>
                <p><input class="btn btn-warning" type="submit" value="Сохранить" /></p>
            </div>
        </div>
    </form>

    if (Model.Id != 0)
    {
        <form action="/Groups/RemoveGroup">
            <input name="groupId" type="hidden" value="@currentModel.Id" />
            <p></p>
            <h1></h1>
            <p>&nbsp<input class="btn btn-warning" type="submit" value="Удалить группу" /></p>
        </form>
    }
}


else if (Model is LinkEditModel)
{
    var currentModel = (LinkEditModel)Model;
    <form action="/Groups/AddLink" method="post">
        <input type="hidden" value="@ViewBag.PageType" name="PageType" />
        @{
            if (Model.Id == 0)
            { <h2>Добавление новой ссылки</h2> }
            else
            {<h2>Редактирование ссылки</h2>}
        }
        <div class="row mt-5 mb-2">
            <div class="block">
                <input name="Id" type="hidden" value="@currentModel.Id" />
                <input name="GroupId" type="hidden" value="@currentModel.GroupId" />
                <p>
                    Отключить: <input name="IsActive" type="checkbox" value="@currentModel.IsActive" />

                    @*<input id="Enable" name="IsActive" type="checkbox" value="true" />*@
                    <input name="IsActive" type="hidden" value="true" />
                </p>
                <p>Базовая ссылка:</p>
                <p><textarea name="BaseLink" value="@currentModel.BaseLink" cols="76" rows="3" maxlength="500" wrap="hard" >@currentModel.BaseLink</textarea></p>
                <p>Описание:</p>
                <p><textarea name="Description" value="@currentModel.Description" cols="76" rows="5" maxlength="500" wrap="hard">@currentModel.Description</textarea></p>
                <p><input class="btn btn-warning" type="submit" value="Сохранить" /></p>
            </div>
        </div>
    </form>

    if (Model.Id != 0)
    {
        <form action="/Groups/RemoveLink">
            <input name="linkId" type="hidden" value="@currentModel.Id" />
            <p></p>
            <h1></h1>
            <p>&nbsp<input class="btn btn-warning" type="submit" value="Удалить ссылку" /></p>
        </form>
    }
}
